"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=999

" Do incremental searching.
set incsearch

set nu
set relativenumber

" Don't use Ex mode, use Q for formatting.
map Q gq

" space as leader key
let mapleader = "\<Space>"

map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" sow workspace errors
map <leader>se <Action>(ShowExecutionView)

" comment lines
map <leader>gc <Action>(CommentByLineComment)

" switch buffer
map <leader>' <Action>(Switcher)
map <leader>bb <Action>(RecentFiles)
map <leader>, <Action>(RecentFiles)
map <leader>fs <Action>(SaveAll)

"find in files
"search files
map <leader>sp <Action>(FindInPath)

map <M-x> <Action>(GotoAction)
map <leader>ff <Action>(GotoFile)
map gS <Action>(GotoSymbol)
map gs <Action>(FileStructurePopup)

map <leader>db <Action>(ToggleLineBreakpoint)

" open git
map <leader>gg <Action>(ActivateVersionControlToolWindow)
" active git commit window
map <leader>gc <Action>(ActivateCommitToolWindow)

map <leader>e <Action>(ShowErrorDescription)

map <leader>bd <Action>(CloseContent)

map <leader>sd <Action>(ActivateProblemsViewToolWindow)

map <leader>wh <Action>(HideActiveWindow)

map <leader>cf <Action>(ReformatCode)

map <leader>cr <Action>(RefactoringMenu)
map <leader>cg <Action>(Generate)
map <leader>ca <Action>(ShowIntentionActions)

"" restart ide
map qr <Action>(RestartIde)
"" quit ide
map qq <Action>(Exit)

map <leader>wo <Action>(MoveEditorToOppositeTabGroup)


map <leader>fu <Action>(FindUsages)





"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
set ideajoin
set which-key
set notimeout
set clipboard+=unnamed
