{:lint-as {ctmx.core/defcomponent     clojure.core/defn
           ctmx.core/defn-assets      clojure.core/defn
           ctmx.core/defn-parse       clojure.core/defn
           ctmx.core/make-routes      clj-kondo.lint-as/fn-catch-all
           ctmx.core/metas            clojure.core/list
           ctmx.core/with-req         clojure.core/let
           mount.core/defstate        clojure.core/def
           rum.core/defc              clojure.core/defn
           simpleui.core/defcomponent clojure.core/defn}
 :linters {:unused-binding {:exclude [ui-routes]}}}
