theme = "catppuccin_mocha"

[editor]
scrolloff = 999
line-number = "relative"
mouse = false
color-modes = true
cursorline = true
auto-format = true
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
cursor-line = "warning" # show warnings and errors on the cursorline inline

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[editor.lsp]
display-messages = true
display-inlay-hints = true

[keys.normal]
A-x = "command_palette"
G = "goto_file_end"
C-g = ':sh open-lazygit.sh'
A-g = ':sh open-yazi.sh'
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"
A-r = ':rla'

[keys.normal.g]
u = "switch_to_lowercase"
U = "switch_to_uppercase"

[keys.normal."space"]
q.q = ":qa"
"," = "buffer_picker"
B = ":pipe-to helix-git-blame"
#   = ":pipe-to helix-git-blame"

[keys.normal."space".f] # files
d = "file_picker_in_current_buffer_directory"
f = "file_picker_in_current_directory"
s = ":w"

[keys.normal."space".c] # code
a = "code_action"
f = ":format"

[keys.normal."space".u] # user
r = ":config-reload"

[keys.normal."space".b] # buffer
b = "buffer_picker"
d = ":buffer-close"

[keys.normal."space".g] # buffer
g = "changed_file_picker"
b = ":sh git-blame.sh"
f = "file_picker"

[keys.normal."space".t] # toggle
i = ":toggle-option lsp.display-inlay-hints"
