theme = "catppuccin_mocha"

[editor]
scrolloff = 999
line-number = "relative"
mouse = false
color-modes = true
cursorline = true
auto-format = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true

[editor.lsp]
display-messages = true
display-inlay-hints = true

[keys.normal]
A-x = "command_palette"
G = "goto_file_end"
C-g = ':sh tmux popup -h 75% -w 75% -E "lazygit"'
A-g = ':sh open-yazi.sh'
# A-g = ':sh tmux popup -h 75% -w 75% -d "#{pane_current_path}" -E "yazi"'
C-l = "jump_view_right"
C-h = "jump_view_left" 

[keys.normal.g]
u = "switch_to_lowercase"
U = "switch_to_uppercase"

[keys.normal."space"]
q.q = ":qa"
p.f = "file_picker"
"," = "buffer_picker"
B = ":pipe-to helix-git-blame"
#   = ":pipe-to helix-git-blame"

[keys.normal."space".f] # files
d = "file_picker_in_current_buffer_directory"
f = "file_picker_in_current_directory"
s = ":w"

[keys.normal."space".c] # code
a = "code_action"
f = ":format"

[keys.normal."space".u] # user
r = ":config-reload"

[keys.normal."space".b] # buffer
b = "buffer_picker"
d = ":buffer-close"
