[language-server.biome]
command = "biome"
args = ["lsp-proxy"] 

# [language-server.qute]
# command = "qute-ls"
# args = ["--stdio"]

[language-server.tailwind]
command = "tailwindcss-language-server"
args = ["--stdio"]

[language-server.volar]
command = "vue-language-server"
args = ["--stdio"]

[language-server.volar.config]
typescript = { tsdk = "./node_modules/typescript/lib" }

[[language]]
name = "javascript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "biome", args = ["format", "--stdin-file-path","*.ts"]}
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "tsx"
auto-format = true
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "jsx"
auto-format = true
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "json"
language-servers = [ { name = "vscode-json-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "vue"
auto-format = true
formatter = {command = "eslint", args = [ "--stdin" ] }
language-servers = [ { name = "volar", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "prisma"
auto-format = true

[[language]]
name = "java"
auto-format = true
indent = { tab-width = 2, unit = "  " }
formatter = { command = "google-java-format", args = [ "-" ] }

# [[language]]
# name = "html"
# indent =  { tab-width = 4, unit = "    " }
# auto-format = true
# language-servers = [ "qute", "tailwind", "vscode-html-language-server" ]


