# --------- snippets ---------
[language-server.scls]
command = "simple-completion-language-server"

[language-server.scls.config]
max_completion_items = 100           # set max completion results len for each group: words, snippets, unicode-input
feature_words = true                 # enable completion by word
feature_snippets = true              # enable snippets
snippets_first = true                # completions will return before snippets by default
snippets_inline_by_word_tail = false # suggest snippets by WORD tail, for example text `xsq|` become `x^2|` when snippet `sq` has body `^2`
feature_unicode_input = false        # enable "unicode input"
feature_paths = false                # enable path completion
feature_citations = false            # enable citation completion (only on `citation` feature enabled)


# write logs to /tmp/completion.log
[language-server.scls.environment]
RUST_LOG = "info,simple-completion-language-server=info"
LOG_FILE = "/tmp/completion.log"

# --------- AI ---------

[language-server.gpt]
args = ["--logFile", "/home/lejon/.cache/helix/helig-gpt.log"]
command = "helix-gpt"

# --------- BIOME ---------

[language-server.biome]
command = "npx"
args = ["biome", "lsp-proxy"]

# --------- QUTE ---------

[language-server.qute-ls]
command = "qute-ls"

[language-server.qute-ls.config.qute]
validation = { enabled = true }

# --------- JAVA ---------

[language-server.jdtls]
command = "jdtls"
args = []

[language-server.jdtls.config]
bundles = [
  "/home/peter/.local/share/nvim/mason/packages/java-debug-adapter/extension/server/com.microsoft.java.debug.plugin-0.53.1.jar",
]

[language-server.jdtls.config.java]
"jdt.ls.vmargs" = "-Xms4G -Xmx12G -XX:+UseG1GC -XX:+UseStringDeduplication -Dsun.zip.disableMemoryMapping=true"
"contentProvider.preferred" = "fernflower"
"signatureHelp.enabled" = true
"completion.favoriteStaticMembers" = [
  "org.junit.Assert.*",
  "org.junit.Assume.*",
  "org.junit.jupiter.api.Assertions.*",
  "org.junit.jupiter.api.Assumptions.*",
  "org.junit.jupiter.api.DynamicContainer.*",
  "org.junit.jupiter.api.DynamicTest.*",
]
"completion.importOrder" = ["java", "javax", "com", "org"]
"sources.organizeImports.starThreshold" = 9999
"sources.organizeImports.staticStarThreshold" = 9999
"codeGeneration.useBlocks" = true
"codeGeneration.generateComments" = false
"server.launchMode" = "Standard"

[[language]]
name = "java"
auto-format = true
formatter = { command = "google-java-format", args = ["-"] }
language-servers = ["jdtls", "gpt"]
# language-servers = ["qute-ls", "gpt"]

[language.debugger]
name = "java-debug"
transport = "tcp"
# command = "jdb"
# args = ["-attach", "localhost:5005"]
#   "-jar",
#   "/home/peter/.m2/repository/com/microsoft/java/com.microsoft.java.debug.plugin/0.53.1/com.microsoft.java.debug.plugin-0.53.1.jar",
# ]
# port-arg = "--port=5005"

# [[language.debugger.templates]]
# name = "launch"
# request = "launch"
# completion = [{ name = "main class" }]
# args = { type = "java", name = "Launch Java Program", request = "launch", mainClass = "{0}", projectName = "${workspaceFolder}" }

[[language.debugger.templates]]
name = "attach"
request = "attach"
# completion = ["port"]
# hostname = "localhost"
# port = 5005
args = { type = "java", name = "Attach to Java Process", request = "attach", hostName = "localhost", port = "5005" }


# --------- XML ---------

[language-server.lemminx]
command = "lemminx"

[[language]]
name = "xml"
auto-format = true
indent = { tab-width = 2, unit = "  " }
formatter = { command = "xmllint", args = ["--format", "-"] }
language-servers = ["lemminx"]

# --------- TOML ---------

[[language]]
name = "toml"
auto-format = true
language-servers = ["taplo", "gpt"]

# --------- Javascript/Typescript ---------

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "gpt",
]
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "gpt",
]
auto-format = true

# --------- JSON ---------

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
  "gpt",
]


# ESLint ----------------------------------------------------------------------
[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]

[language-server.eslint.config]
format = true
nodePath = ""
onIgnoredFiles = "off"
packageManager = "yarn"
quiet = false
rulesCustomizations = []
run = "onType"
useESLintClass = false
validate = "on"
codeAction = { disableRuleComment = { enable = true, location = "separateLine" }, showDocumentation = { enable = true } }
codeActionOnSave = { mode = "all" }
experimental = { useFlatConfig = true }
problems = { shortenToSingleLine = false }
workingDirectory = { mode = "auto" }
# -------------------------------------------------------------------------------

# --------- VUE ---------
[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]


[language-server.typescript-language-server.config]
plugins = [
  { name = "@vue/typescript-plugin", location = "/usr/bin/vue-language-server", languages = [
    "vue",
  ] },
]

[language-server.typescript-language-server.config.vue.inlayHints]
includeInlayEnumMemberValueHints = true
includeInlayFunctionLikeReturnTypeHints = true
includeInlayFunctionParameterTypeHints = true
includeInlayParameterNameHints = "all"
includeInlayParameterNameHintsWhenArgumentMatchesName = true
includeInlayPropertyDeclarationTypeHints = true
includeInlayVariableTypeHints = true

[[language]]
name = "vue"
language-servers = [
  { name = "vuels", except-features = [
    "format",
  ] },
  "tailwindcss-ls",
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  { name = "eslint", except-features = [
    "format",
  ] },
  "gpt",
  { name = "vscode-html-language-server", except-features = [
    "format",
  ] },
]
auto-format = true
formatter = { command = "eslint_d", args = [
  "--stdin",
  "--fix-to-stdout",
  "--stdin-filename",
  "tmp.vue",
] }


# --------- Prisma ---------

[[language]]
name = "prisma"
auto-format = true
language-servers = ["prisma-language-server", "gpt"]

# --------- Go ---------

[[language]]
name = "go"
auto-format = true
language-servers = ["gopls", "golangci-lint-lsp", "gpt"]

# --------- Lua ---------

[[language]]
name = "lua"
auto-format = true

# --------- HTML ---------

[[language]]
name = "html"
indent = { tab-width = 4, unit = "  " }
language-servers = [
  # "qute-ls",
  "scls",
  "tailwindcss-ls",
  "vscode-html-language-server",
  "gpt",
]
auto-format = false
roots = ["pom.xml", "build.gradle", "build.gradle.kts"]

# --------- STEEL ---------

[[language]]
name = "scheme"
formatter = { command = "raco", args = ["fmt", "-i"] }
auto-format = true
language-servers = ["steel-language-server", "gpt"]

# For development
[language-server.steel-language-server]
command = "steel-language-server"
args = []

# --------- CLOJURE ---------

[language-server.clojure-lsp]
command = "clojure-lsp"
args = []

[[language]]
name = "clojure"
auto-format = true
formatter = { command = "zprint", args = ["{:style :community}"] }
language-servers = ["clojure-lsp", "gpt"]


# --------- CSS ---------
[[language]]
name = "css"
indent = { tab-width = 4, unit = " " }

[[language]]
name = "env"
scope = "source.env"
file-types = [
  { glob = "*.env" },
  { glob = ".env" },
  { glob = ".env.*" },
  { glob = ".envrc" },
  { glob = ".envrc.*" },
]
injection-regex = "env"
comment-token = "#"
indent = { tab-width = 4, unit = "\t" }
grammar = "bash"
